* {
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  display: flex;
  flex-flow: column;
}

.parent {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.box {
  width: 33%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid black;
}

.article {
  width: 80%;
  line-height: 3;
}

img {
  height: 300px;s
}